---
import MainLayout from "src/layouts/MainLayout.astro";
import image05 from '@images/post-05.png';
import { Image } from "astro:assets";

---

<MainLayout title="Images">
  <h1 class="text-5xl text-white text-center">Images</h1>

  <img 
    src="/assets/images/post-01.png" 
    alt="post-01" 
    width="250" 
    height="250" 
  />

  <Image 
    src={image05} 
    alt="post-05" 
    width="250" 
    height="250"
  />

  <div style={{height: "3000px"}}></div>

  <img 
    loading="lazy" 
    src="/assets/images/post-05.png" 
    alt="post-05" 
    width="250" 
    height="250" 
  />
</MainLayout>